[flake8]
# Set the maximum line length to 88, aligning with Black's default line length
max-line-length = 88

# Exclude certain directories from linting
exclude =
    .tox,
    .venv,
    __pycache__,
    migrations,
    manage.py