{% extends 'base.html' %}

{% load static %}

{% block title %}Menus{% endblock %}

{% block content %}
<div class="container fluid">
    <div class="container-xl d-flex justify-content-center align-items-center" style="height: 200px;">
        <h1>Food Menu</h1>
    </div>
    <hr>
    <div class="container-xl text-center p-4">
        {% for menu in menus %}
            <p>{{ menu.name }}</p> <!-- Exemplo de exibição de um atributo do objeto menu -->
        {% endfor %}
    </div>
</div>
{% endblock %}
